
center{
    padding-top: 200px;
}

.head{
    width: 150px;
    height: 110px;
    padding-top: 14px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
    position: relative;
    animation-name:head;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    transform-origin: 50% 200px;
    animation-delay: 2s;
    background-image: linear-gradient(to bottom, #e7e7cf 13%, #6868f1 13% 18%, #e7e7cf 18% 32%, orangered 32% 37%, #e7e7cf 37% 60%, orangered 60% 69%, #e7e7cf 69% 75%, #6868f1 75% 83%, #e7e7cf 83% 89%, grey 89%);
}

.antenna{
    width: 2.5px;
    height: 50px;
    top: -44.5px;
    right: 43px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, black 30%, #e7e7e7 30% 75%, black 75%);
}


.antenna-white{
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 65px;
    background-color: #dfdfc6a8;
    top: -55.5px;
    left: 70px;
    border-radius: 5px;

}

.eye1{
    width: 90px;
    height: 30px;
    background-color: #e7e7cf;
    position: absolute;
    top: 46px;
    left: 45px;
}

.eye2{
    width: 47px;
    height: 40px;
    background-color: #e7e7cf;
    position: absolute;
    top: 31px;
    left: 55px;
    border-radius: 100%;
}

.eye2-inner{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    background-color: black;
    border-radius: 100%;
    padding-top: 5px;
    padding-left: 8px;
}

.eye2-pupil{
    width: 9px;
    height: 9px;
    background-color: grey;
    border-radius: 100%;
}

.pupil1{
    width: 8.5px;
    height: 8.5px;
    background-color: grey;
    border-radius: 100%;
    margin-top: 10px;
}

.eye{
    width: 26px;
    height: 26px;
    border: 1px solid black;
    margin-top: 1px;
    margin-left: 54px;
    padding-top: 1.7px;
    padding-left: .3px;
    border-radius: 100%;
}

.eye-inner{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    padding-top: 3px;
    padding-left: 9px;
}

.eye-pupil{
    width: 5px;
    height: 5px;
    background-color: grey;
    border-radius: 100%;
}

.stripe{
    position: absolute;
    width: 8px;
    height: 13.5px;
    background: #e7e7cf;
    top: 63px;
    left: 15px;
}

.body{
    overflow: hidden; 
    width: 200px;
    height: 200px;
    background-color:#e7e7cf;
    position: relative;
    border-radius: 100%;
    z-index: -100001;
    top: -5px;
    animation-delay: 2s;
    animation-name: body;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.stripe1{
    width:125px;
    height: 125px;
    border-radius: 100%;
    border: 15px solid orangered;
    margin-top: -10px;
    margin-left: -140px;
}

.stripe2{
    width:120px;
    height: 120px;
    border-radius: 100%;
    border: 15px solid orangered;
    margin-top: -40px;
    margin-left: 96px;
}

.stripe1-1{
    position: absolute;
    top: 55px;
    left: 53px;
    transform: rotate(-54deg);
    width: 18px;
    height: 30px;
    background-color: orangered;
    box-shadow: 0px 80px 0px orangered, 4px 150px 0px orangered;
}

.line1{
    width: 3px;
    height: 200px;
    background-color: grey;
    position: absolute;
    left: 108px;
    top: 10px;
    z-index: -1;
    transform: rotate(43deg);
}

.line1::before{
    content: "";
    width: 3px;
    height: 210px;
    background-color: grey;
    position: absolute;
    left: -10px;
    top: -70px;
    z-index: -1;
    transform: rotate(-98deg);
}

.spots{
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 15px;
    left: 65px;
    background-color: grey;
    border-radius: 100%;   
    box-shadow: 80px -150px 0px grey;
}

.spots1{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 63px;
    left: 120px;
    background-color: grey;
    border-radius: 100%;   
    box-shadow: 20px 90px 0px grey;
}

.spot2{
    position: absolute;
    top: 124px;
    left: 140px;
    width: 30px;
    height: 25px;
    transform: rotate(-55deg);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-image: linear-gradient(to bottom, grey 37%, #e7e7cf 37% 48%, grey 42% 65%, #e7e7cf 51% 74%, grey 74% 90%, #e7e7cf 90%);
}


.shadow{
    width: 170px;
    height: 20px;
    background-color: #c9c1c1;
    border-radius: 100%;
    margin-top: -10px;
    position: relative;
    z-index: -1000000;
    animation-name: shadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.whole-body{
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes move {
    10%{
        transform: translateX(20px);
    }
    20%{
        transform: translateX(40px);
    }
    30%{
        transform: translateX(60px);
    }
    40%{
        transform: translateX(80px);
    }
    50%{
        transform: translateX(100px);
    }
    60%{
        transform: translateX(80px);
    }
    70%{
        transform: translateX(60px);
    }
    80%{
        transform: translateX(40px);
    }
    90%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}


@keyframes head {
    25%{
       transform: rotate(-35deg); 
    }
    50%{
        transform: rotate(0deg); 
    }
    75%{
        transform: rotate(35deg); 
    }
    100%{
        transform: rotate(0deg); 
    }
}

@keyframes body {
    10%{
        transform: rotate(36deg);
    }
    20%{
        transform: rotate(72deg);
    }
    30%{
        transform: rotate(108deg);
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    90%{
        transform: rotate(324deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes shadow {
    10%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
}